* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #228b22;
    --secondary-color: #0bda51;
}

header {
    font-weight: bold;
    font-size: 20px;
    display: inline;
    margin: 0;
    top: 50px;
}

header h3 a {
    position: relative;
    top: 50px;
}

.highScoreText {
    left: 50px;
    position: absolute;
    color: var(--primary-color);
    top: 50px;
    
   
}

.timeLeft {
    float: right;
    position: absolute;
    left: 1300px;
    top: 50px;
}


.quizTitle {
    position: relative;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    top: 250px;
    
   
}

.quizText {
    position: relative;
    font-size: 24px;
    text-align: center;
    bottom: 30px;
    margin: 20%;  
   
}

.button {
    position: relative;
    text-align: center;
    bottom: 300px;
   
    
}

.buttonStart {
    font-size: 24px;
    background-color: var(--secondary-color);
    padding: 10px 10px 10px 10px;
}

.hide {
    display: none;
}

#questions-main {
    text-align: center;
}

#questions-title {
    position: relative;
    text-align: center;
    font-size: 36px;
    top: 200px;
    

}


.choicesButton {
    position: relative;
    text-align: center;
    background-color: var(--secondary-color);
    font-size: 24px;
    padding: 8px 8px 8px 8px;
    display: flex;
    margin: 8px;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    left: 45%;
    top: 250px;
}

#end-quiz {
    position: relative;
    text-align: center;
    font-size: 36px;
    top: 200px;
    font-weight: bold;

}

#end-quiz p {
    color: var(--primary-color);
}
#inputName {
    padding: 5px 5px 5px 5px;

}
#end-quiz button {
    padding: 5px 5px 5px 5px;
}